
    /*CSS Geral, página inteira /'universe select' ou seletor universal. */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Nexa, 'Segoe UI', Arial;
        font-size: 12.5px;

    }

    html{
      scroll-behavior: smooth;
      height: 100%;
    }

    /* <body>, corpo do site. */
    body{ 
      overflow-x: hidden;
      height: 100%;

    }   

    /* <header>, cabeçalho. */
    header{
      position: fixed;
      z-index: 2;
      padding: 0 25px;
      width: 100vw;
      height: 65px;
      background-color: #ffffff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0,0,0,0.08);
        
    }

    /* Flex-container/flexbox dentro da tag '<header>' */
    .flex-container_header{
      margin: 0 auto;
      min-height: 100%;
      width: 1128px;
      display: flex;
      align-items: center;
      column-gap: 20px;

    }

    /* Flex-container/flexbox da logo & nome do sistema*/
    .flexbox_brand-system{
      cursor: pointer;
      width: 25%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #121220;

    }

    /* anula cor de link visitado, logo & nome do sistema */
    .flexbox_brand-system:visited{
      color: #121220;

    }

    /* Anjos Perdidos / '<span>Anjos Perdidos</span>' */
    .flexbox_brand-system > span{
      width: 100%;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;

    }

    /* Tag semântica '<nav>' / flexbox, dos links e botões de navegação. */
    nav{
      min-height: 65px;
      width: 75%;
      display: flex;

    }

    /* 'Flexbox' das listas não ordenadas 'ul'*/
    nav > ul {
      height: 65px;
      display: flex;
      align-items: center;
      list-style: none;

    }

     /* flexbox, links de navegação*/
    .nav-links{
      width: 70%;
      justify-content: center;
      column-gap: 20px;
    }

     /* links âncora*/
    .ancorPage{
      font-size: 1.20rem;
      font-weight: 500;
      color: #121220;
      text-decoration: none;
      transition: all 0.15s;
    }

    /* Hover, links âncora*/
    .ancorPage:hover{
      color: #00B7EA;
      transition: all 0.15s;
    }

    /* Link, links âncora*/
    .nav-links:link{
      color: #121220;
    }

    /* flexbox, botões de navegação*/
    .nav-buttons{
      width: 30%;
      justify-content: end;
      column-gap: 10px;
    }

    /* botão de navegação, individual*/
    .nav-button{
      height: 35px;
      width: 100px;
      font-weight: 500;
      border-radius: 8.5px;
      cursor: pointer;
      transition: 0.20s;
    }

    /* botão de login*/
    .login{
      background-color: transparent;
      border: 2px solid #00b7ea;
      color: #00b7ea;
    }

    /* Hover, botão de login*/
    .login:hover{
        background-color: #00b7ea;
        border: 2px solid #00b7ea;
        color: white;
    }

    /* botão de 'cadastrar'*/
    .signup{
      background-color: #00b7ea;
      border: none;
      color: white;
    }

    /* Hover, botão de 'cadastrar'*/
    .signup:hover{
      background-color: #0399c3;
      color: #ffffff;
    }

    /* Sessão & fundo escuro, 'sub-cabeçalho'*/
    .section_header{
      padding: 85px 0px;
      width: 100vw;
      background-color: #EFF3F8;
    }

    /* flexbox, sessão 'sub-cabeçalho'*/
    .flex-container_section-header{
      margin: 0 auto;
      height: auto;
      width: 1128px;
      display: flex;
      align-items: center;

    }

    /* flexbox, sessão esquerda 'sub-cabeçalho'*/
    .left_section-header{
      width: 60%;
      display: flex;
      flex-direction: column;
      align-content: end;
      row-gap: 35px;

    }

    /* container, textos sub-cabeçalho*/
    .left_section-header > article{
      display: flex;
      flex-direction: column;
      row-gap: 10px;

    }

    /* texto principal, sub-cabeçalho*/
    .left_section-header > article > h1{
      font-size: 3.8rem;
      
     
    }

    /* texto secundário, sub-cabeçalho*/
    .left_section-header > article > span{
      width: 80%;
      font-size: 1.15rem;
      text-align: left;
    }

    /* flexbox, botões*/
    .left_section-header > div{
      display: flex;
      justify-content: flex-start;
      column-gap: 10px;
    }

    /* sessão direita, card*/
    .right_section-header{
      width: 40%;
    }

    /* Container, 'desaparecimentos próximos a você' & 'Guaianases' */
    .location_item{
      padding: 5px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8.5px;
      font-size: 1.20rem;
      font-weight: 500;
      color: #00B7EA;
      text-align: center;
      border-bottom: 1.5px solid #00000021;
    
    }

     /*CSS - Carrosel, começo*/
     .slide-container{
      padding: 0px 0;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
      border-radius: 10px;
    }
    .slide-content{
      margin: 0px 30px 15px 30px;
      height: auto;
      overflow: hidden;
      border-radius: 10px;
    }
    .card{
      margin: 10px 0;
      border-radius: 10px;
      background-color: #FFF;
      border: 1px solid rgba(112, 112, 112, 0.313);
    }
    .image-content,
    .card-content{
      
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      padding: 10px;
    }
    .image-content{
      position: relative;
      row-gap: 5px;
      padding: 25px 0;
    }
    .overlay{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #00b7ea;
      border-radius: 10px 10px 0px 0px;
    }
    
    .overlay::after{
      border-radius: 0 15px 0 0;
      background-color: #FFF;
    }
    .card-image{
      position: relative;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background: #FFF;
      padding: 1px;
    }
    .card-image .card-img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      
    }
    .name{
      text-align: center;
      font-size: 11.5px;
      font-weight: 500;
      color: #333;
    }
    .description{
      font-size: 14px;
      color: #707070;
      text-align: center;
    }
    .button{
      border: none;
      font-size: 12px;
      color: #FFF;
      padding: 5px 18px;
      background-color: #00B7EA;
      border-radius: 6px;
      
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .button:hover{
      background: #0399c3;
    }
    
    .swiper-navBtn{
    
      color: #00B7EA;
      transition: color 0.3s ease;
    }
    .swiper-navBtn:hover{
      color: #00b7ea41;
    }
    .swiper-navBtn::before,
    .swiper-navBtn::after{
      font-size: 25px;
    }
    .swiper-button-next{
      right: 0;
    }
    .swiper-button-prev{
      left: 0;
    }
    .swiper-pagination-bullet{
      background-color: #2065aa92;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background-color: #2065AA;
    }
    /*CSS - Carrosel, fim*/


    /*Sessão, 'sobre nós' */
    .section_about{
      margin: 0 auto;
      max-width: 1128px;
    }

    /*container - Título sessão*/
    .section_title{
      margin: 25px 0;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    /*Texto - título sessão*/
    .section_title > span{
      font-size: 1.5rem;
      font-weight: 500;
    }

    /*Container cards, sessão 'sobre nós'*/
    .article_cards{
      display: flex;
      flex-direction: column;
      row-gap: 65px;
    }

    /* Classe comum, cards trasparentes*/
    .card_transparent{
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      border-radius: 20px;    
    }

    /* container - img cards trasparentes*/
    .img_card{
      position: relative;
      bottom: 30px;
    
    }

    /* img cards trasparentes*/
    .img_card > img{
      height: 350px;
      width: 350px;
    }

    /* container - textos, cards trasparentes*/
    .text-cards{
      width: 36.5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }

    /* texto principal, cards trasparentes*/
    .text-cards > h1{
      font-size: 3.00rem;
      text-decoration: underline;
      text-align: center
    }

     /* texto secundário, cards trasparentes*/
     .text-cards > p{
      font-size: 1.40rem;
      text-align: justify
    }

    .text-cards > p > b {
      padding: 0 5px;
      font-size: 1.30rem;
      color: #00B7EA;
      background-color: #00b7ea2c;
     
    }

    /*Para textos em ciano*/
    .textCien{
      color: #00B7EA;
    }

    /* Para textos em azul*/
    .textBlue{
      color: #2065AA;
    }

    .textGreen{
      color: #104C5D;
    }

    
    /* cards trasparente, 'A dor de milhares'*/
    .wolrd{
      border: 1px solid #00B7EA;
    }

    /* cards trasparente, 'Buscar é a solução'*/
    .search{
      border: 1px solid #00B7EA;
      flex-direction: row-reverse;
    }

    /* Container, explicação sistema.*/
    .systemAbout{
      display: flex;
      flex-direction: column;
    }

    .img_logo-design{
      display: flex;
      justify-content: center;
    }
    
    /* img, estrutura logo 'Anjos Perdidos'*/
    .img_logo-design > img{
      width: 80%;
      
    }

    /* texto de explicação, sistema*/
    .systemAbout > p{
      width: 80%;
      font-size: 1.85rem;
      line-height: 45px;
      text-align: center;
      align-self: center;
    }

    .systemAbout > p > b{
      font-size: 1.65rem;
      background-color: #00b7ea43;
      color: #00B7EA;
    }

    /* Sessão 'como funciona?' */
    .section_howFunction{
      margin: 0 auto;
      max-width: 1128px;
    }

    

    /* Container - cards de usuário*/
   .explain_cards{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
   }

   /* cards dos usuários*/
   .cardExplain{
    padding: 20px;
    margin: 0 10px;
    height: auto;
    justify-content: left;
    flex-direction: column;
    column-gap: 50px;
    row-gap: 25px;
   }

   /* card do usuário comum*/
   .userCommon{
    border: 3px solid #00B7EA;
   }

   /* card do familiar*/
   .family{
    border: 3px solid #2065AA;
   }

   /* card da autoridade*/
   .authority{
    border: 3px solid #104C5D;
   }

   /* container -  textos explicativos, card usuários*/
   .explainTextUser{
    width: auto;
    row-gap: 12.5px;
   }

   /* Texto explicativo secundário, card usuário*/
   .explainTextUser > p{
    font-size: 1.70rem;
    text-align: center;
    
    
   }

   /* container - img, card usuários*/
   .imgUser-explain{
    position:static;
   }

   /* logo img, card usuários*/
   .imgUser-explain > img{
    width: 100px;
    height: 100px;
   }

   /* Sessão contato*/
   .section_contact{
    margin: 0 auto;
    max-width: 1128px;
   }

   /* container - contato*/
   .container_contact{
    display: flex;
    width: 100%;
  
   }

  /* lado esquerdo, contato*/
  .left-side_contact{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

  }

  /* img - lado esquerdo, contato*/
 .left-side_contact > img{
    height: 480px;
    width: auto;
  }

  /* título, 'Envie sua Mensagem'*/
  .contactTitle{
    font-size: 1.85rem;
    font-weight: 500;
    text-align: center;

  }

  /* lado direito, contato*/
  .right-side_contact{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 8.5px;
    

  }

  /* lado direito, texto secundário*/
  .right-side_contact > p{
    text-align: center;
  }

  /* formulário, contato*/
  form{
    height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

  }

  /* Classe comum - inputs formulário, contato*/
  .inputs{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border: 1px solid #00000030;
    background-color: transparent;
    border-radius: 5px;
    padding: 0 15px;
  }

  /* inputs - formulário, contato*/
  form > input{
    height: 45px;
    
  }

  /* textarea - formulário, contato*/
  textarea{
    flex-grow: 1;
    
  }
  
  /* container btns formulário, contato*/
  .btn-container{
    display: flex;
    column-gap: 20px;
  }

  /* btns formulário, contato*/
  .btn-container > input{
    height: 35px;
    width: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #00000030;
    border-radius: 5px;
    transition: all 0.20s;
    font-size: 1.45rem;
    

  }

  /* Hover btns formulário, contato*/
  .btn-container > input:hover{
    background-color: #00B7EA;
    transition: all 0.20s;
    color: #ffffff;
  }


    /*CSS - Ícone da burguerbar, navBar*/
    .burguerBar{
      cursor: pointer;
      display: none;

    }

    /*CSS - Traços do ícone da burguerbar, navBar*/
    .burguerBar > span{
      margin: 5px;
      height: 5px;
      width: 35px;
      display: flex;
      flex-direction: column;
      background-color: #00B7EA;
      border-radius: 2.5px;
      

    }
    
   



    /*Footer*/
    footer{
      padding: 20px 0px;
      margin: 0 auto;
      width: 1128px;
    }


    
    /*linha qualquer*/
    .line{
      margin: 10px 0;
      height: 1px;
      width: 100%;
      background-color:#00000030;
    }

    /*"2023 copy.."*/
    .copyright_container{
      margin-top: 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2.5px;
      background-color: #e2e6eb89;
      border-radius: 5px
    }
    
     /*"textos como links"*/
    .text-link:link{
      color: #121220;
      text-decoration: none;
    }

    .text-link:visited{
      color: #121220;
    }

    .text-link:hover{
      color: #00B7EA;
    }

    
    
    
    /*Responsividade, ao atingir no máximo, 1180px de largura.*/
    @media screen and (max-width: 1180px){

     
      .flex-container_header{
        width: 100%;
        justify-content: space-between;
           
      }

      .flexbox_brand-system {
        width: auto;
        column-gap: 10px;
              
      }

      .burguerBar.active span:nth-child(1){
        position: relative;
        top: 5px;

      }

      .burguerBar.active span:nth-child(3){
        position: relative;
        bottom: 5px;

      }

      .burguerBar.active span:nth-child(2){
        display: none;

      }

      .burguerBar.active span:nth-child(1){
        transform: rotate(-45deg);

      }

      .burguerBar.active span:nth-child(3){
        transform: rotate(45deg);

      }

      nav.active{
        left: 0;

      }

      .burguerBar{
        display: block;

      }

      .burguerBar.active{
        display: block;
      }


      nav{
        position: absolute;
        height: 450px;
        width: 100%; 
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        background-color: rgb(255, 255, 255);   
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
        transition: all 0.25s;
      }

      .nav-links{
        list-style-type: disc;
        color: #00B7EA;
        
      }

      .nav-links > li{
       
        font-size: 2rem;
      }

      .nav-links > svg{
        display: none;
      }

      .nav-links > li > a{
        font-size: 2rem;
      }
      
      .nav-links, .nav-buttons{
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;
      
      }

      .nav-button {
        width: 300px;
      }

      .flex-container_section-header{
        width: 100%;
        flex-direction: column-reverse;
        row-gap: 35px;
      }

      .right_section-header, .left_section-header{
        padding: 0 20px;
        width: 100%;
      }
      .slide-container{
        width: 100%;
      
      }

      .left_section-header > article > h1{
        font-size: 3rem;
        text-align: center;
      }

      .left_section-header > article > span{
        width: auto;
        font-size: 1.15rem;
        text-align: center;
      }

      .left_section-header > div{
        justify-content: center;
        row-gap: 10px;
        
      }

      .section_title{
        margin: 50px;
        flex-direction: column;
        justify-content: center;

       
      }

      .section_title > svg{
        display:  none;
      }

      .section_title::after{
        content: "";
        position: relative;
        top: -8.5px;
        bottom: 12px;
        width: 100px;
        height: 10px;
        border-bottom: 5px solid #00B7EA;
        border-radius: 2.5px;
        margin: 0 auto;
      }

      .article_cards, .systemAbout, .section_howFunction{
        margin: 0 20px;
      }

      .systemAbout{
        margin: 80px 20px;
      }

      .img_logo-design{
        width: 100%;
        flex-direction: column;
      }
      .img_logo-design > img{
        width: 100%;
        height: 125px;
        
       
      }
      
      .systemAbout > p{
        width: 100%;
        font-size: 1.5rem;
        text-align: justify;
        line-height: 35px;
      }
      
      .explain_cards{
        flex-direction: column
      }

      .cardExplain{
        margin: 0;
      }

      .card_transparent{
        padding: 20px;
        height: auto;
        flex-direction: column;
        justify-content: center;
      }

      .img_card{
        bottom: 105px;
        height: 200px;
        width: auto;
        
      }
      .img_card > img{
        height: 350px;
        width: 300px;
      }

      .imgUser-explain{
        position: static;
        bottom: 0;
        height: auto;
        width: auto;
      }

      .imgUser-explain > img{
        height: 125px;
        width: 125px;
      }

      .text-cards{
        
        width: 100%;
        align-items: center;
        row-gap: 20px;
        
      }

      .text-cards > h1{
        font-size: 2.5rem;
      }

      .text-cards > p{
        font-size: 1.5rem;
        text-align: center;
      }
      
      footer{
        width: 100%;
      }

      .container_contact{
        padding: 0 20px;
        align-items: center;
        flex-direction: column-reverse;
      }

      .right-side_contact{
        width: 100%;
      }

      .left-side_contact > img{
        display: none;
      }
    
        
    }


    


   